{% extends 'admin/layout.html' %}
{% block content %}
    <section class="content-header">
      <h1>
        Quản lý cửa hàng
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ bill_count }}</h3>

              <p>Đơn hàng mới</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="{% url 'billIndex' %}" class="small-box-footer">Chi tiết<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
             <!--  <h3>53<sup style="font-size: 20px">%</sup></h3> -->
              <h3>{{ product_count }}</h3>
              <p>Sản phẩm</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="{% url 'view_product' %}" class="small-box-footer">Chi tiết<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>Sắp diễn ra</h3>

              <p>{{ event_count }} Sự kiện</p>
            </div>
            <div class="icon">
              <i class="ion ion-ice-creame"></i>
            </div>
            <a href="{% url 'eventIndex' %}" class="small-box-footer">Chi tiết<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ customer_count }}</h3>
              <p>Khách hàng</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{% url 'customers'%}" class="small-box-footer">Chi tiết<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!--thong ke san pham-->
      <div class="row">
          <div class="col-md-12">
              <!-- BAR CHART -->
              <div class="box box-success">
                <div class="box-header with-border">
                  <h3 class="box-title">Số lượng sản phẩm đã bán trong ngày
                    <span id="time_title"></span>
                  </h3>

                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
                  </div>
                </div>
                <div class="box-body chart-responsive">
                  <div class="chart" id="product-chart"></div>
                </div>
                <div class="row">
                  <h4 class="text-center">Số lượng sản phẩm đã bán</h4>
                </div>
                <!-- /.box-body -->
              </div>
          </div>
        </div>
    </section>
{% endblock %}
{% block script %}
 {% load static %}
<script src="{% static 'admin/js/index.js' %}"></script>
{#  <!-- Morris.js charts -->#}
{#<script src="{% static 'admin/bower_components/raphael/raphael.min.js'%}"></script>#}
{#<script src="{% static 'admin/bower_components/morris.js/morris.min.js'%}"></script>#}
{#<!-- Sparkline -->#}
{#<script src="{% static 'admin/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js'%}"></script>#}
{#<!-- AdminLTE App -->#}
{#<script src="{% static 'admin/dist/js/adminlte.min.js'%}"></script>#}
{#<!-- AdminLTE dashboard demo (This is only for demo purposes) -->#}
{#<script src="{% static 'admin/dist/js/pages/dashboard.js' %}"></script>#}
{#<!-- AdminLTE for demo purposes -->#}
{#<script src="{% static 'admin/dist/js/demo.js' %}"></script>#}
{#  <script src="{% static 'admin/dist/js/pages/admin.index.js' %}"></script>#}
{% endblock %}