<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" href="{% static 'bakery_store/css/bootstrap-datepicker.css' %}">
<link rel="stylesheet" href="{% static  'bakery_store/css/bootstrap.css'%}">
<script src="{% static 'bakery_store/js/jquery.min.js'%}"></script>
<script src="{% static  'bakery_store/js/bootstrap.min.js'%}"></script>
<script src="{% static 'bakery_store/js/bootstrap-datepicker.js' %}"></script>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Register</h1>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
                        {{ form.as_p }}
				</div>
                <div>
                    <button type="submit" class="btn-primary" value="Register">Register</button>
                </div>
			</div>
		</div>
    </form>
</body>
<script>
    $(function () {
        $('.datepicker').datepicker();
    })
</script>
</html>