{% extends "bakery_store/register_layout.html" %}
{% block content %}
<form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<h3>Đăng kí thành viên</h3>
    {% for field in form %}
        <div class="form-wrapper">
        <font color="red">{{ field.errors }}</font>
        {{ field.label_tag }}
        {{ field }}
    {% endfor %}
{#	<div class="form-wrapper">#}
{#		<input type="text" placeholder="Họ tên" class="form-control"#}
{#			name="full_name" id="full_name">#}
{#		<i class="zmdi zmdi-font"></i>#}
{#	</div>#}
{#	<div class="form-wrapper">#}
{#		<input type="text" placeholder="Tài khoản" class="form-control" #}
{#			name="user_name" id="user_name">#}
{#		<i class="zmdi zmdi-account"></i>#}
{#	</div>#}
{#	<div class="form-wrapper">#}
{#		<input type="text" placeholder="Email" class="form-control" name="email" id="email">#}
{#		<i class="zmdi zmdi-email"></i>#}
{#	</div>#}
{#	<div class="form-wrapper">#}
{#		<input type="text" placeholder="Địa chỉ" class="form-control" name="address" id="address">#}
{#		<i class="zmdi zmdi-home"></i>#}
{#	</div>#}
{#	<div class="form-wrapper">#}
{#		<select name="gender" id="gender" class="form-control">#}
{#			<option value="" disabled selected>Giới tính</option>#}
{#			<option value="male">Nam</option>#}
{#			<option value="femal">Nữ</option>#}
{#			<option value="other">Khác</option>#}
{#		</select>#}
{#		<i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>#}
{#	</div>#}
{#	<div class="form-wrapper">#}
{#		<input type="date" name="birth_day"#}
{#		       min="1930-01-01" max="2018-12-31" class="form-control" #}
{#		       placeholder="Nhập ngày sinh" id="birth_day">#}
{#	</div>#}
{#	<div class="form-wrapper">#}
{#		<input type="password" placeholder="Nhập khẩu" class="form-control" name="password" id="password">#}
{#		<i class="zmdi zmdi-lock"></i>#}
{#	</div>#}
{#	<div class="form-wrapper">#}
{#		<input type="password" placeholder="Xác nhận mật khẩu" #}
{#			class="form-control" id="confirmed_password">#}
{#		<i class="zmdi zmdi-lock"></i>#}
{#	</div>#}
	<button  type="submit">Đăng kí
		<span><i class="zmdi zmdi-arrow-right"></i></span>
	</button>
</form>
{% endblock %}
{% block script %}
	{% load static %}
	<script src="{% static 'bakery_store/js/register.js'%}"></script>
	
{% endblock %}