{% extends 'admin/layout.html' %}
{% load humanize %}
{% block content %}
	<section class="content-header">
      <h1>
        Chi tiết hóa đơn
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bill</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <!--Them trang thai nua nhe-->
                    <!--VanAnh-->
                    <h3 class="box-title">{{ bill.id }} - Đang giao</h3>
                    <!--end-->
                </div>


                <!-- /.box-header -->
                <div class="box-body table-responsive">
                <!--VanAnh-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="cart-detail">
                            <h4>Thông tin khách hàng</h4>
                            <div class="row">

                                <div class="col-md-4">
                                    <label>Khách hàng</label>
                                </div>
                                <div class="col-md-8">
                                    <!-- Null neu khach hang vang lai-->
                                    <p>ID001 - Van Anh</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Ngày mua</label>
                                </div>
                                <div class="col-md-8">
                                    <p>12/12/2018</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Người nhận</label>
                                </div>
                                <div class="col-md-8">
                                    <p>Van Anh</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>SĐT</label>
                                </div>
                                <div class="col-md-8">
                                    <p>13484475</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Địa chỉ</label>
                                </div>
                                <div class="col-md-8">
                                    <p>Hà Nội</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!--Hien thi cac san pham da mua-->
                        <div class="col-md-6">
                           <div class="cart-detail">
                                <h4>Danh sách sản phẩm</h4>
                                <ul>
                                    <li>

                                        <ul>
                                            
                                            <li>
                                                <span>4 x Bánh trà xanh</span> 
                                                <span>20000</span>
                                            </li>
                                        </ul>

                                    </li>
                                    <li>
                                        <span>Mã giảm giá</span>
                                        <span>SALE01</span>

                                    </li>
                                    <li>
                                        <span>Tổng tiền</span> 
                                        <span>80k</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end-->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="text-align: center;">Tên sản phẩm</th>
                            <th style="text-align: center;">Số lượng</th>
                            <th style="text-align: center;">Giảm giá</th>
                            <th style="text-align: center;">Thành tiền</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entry in entries %}
                            <tr>
                            <td>{{ entry.product_id.name }}</td>
                            <td>{{ entry.quantity }}</td>
                            <td>0</td>
                            <td>{{ entry.total|intcomma }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <a href="javascript:void(0)" class="btn btn-primary">Quay lại</a>
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
	{% load static %}
    <link rel="stylesheet" href="{% static 'admin/dist/css/bill_detail.css' %}">
    <script src="{% static 'admin/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/product.js' %}"></script>
{% endblock %}