{% extends 'admin/layout.html' %}
{% load humanize %}
{% block content %}
	<section class="content-header">
      <h1>
        Chi tiết hóa đơn
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bill</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <!--Them trang thai nua nhe-->
                    <!--VanAnh-->
                    <h3 class="box-title">{{ bill.id }} - {{ bill.get_status_display }}</h3>
                    <!--end-->
                </div>


                <!-- /.box-header -->
                <div class="box-body table-responsive">
                <!--VanAnh-->
                    <div class="row">
                        <div class="col-md-5">
                            <div class="cart-detail">
                            <h4>Thông tin khách hàng</h4>
                            <div class="row">

                                <div class="col-md-4">
                                    <label>Khách hàng</label>
                                </div>
                                <div class="col-md-8">
                                    <!-- Null neu khach hang vang lai-->
                                    <p>{{ bill.user_id.id }} - {{ bill.user_id.full_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Ngày mua</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ bill.created_date }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Người nhận</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ bill.receiver_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>SĐT</label>
                                </div>
                                <div class="col-md-8">
                                    <p>0{{ bill.receiver_phone }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Địa chỉ</label>
                                </div>
                                <div class="col-md-8">
                                    <p>{{ bill.receiver_address }}</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!--Hien thi cac san pham da mua-->
                        <div class="col-md-7">
                           <div class="cart-detail">
                                <h4>Danh sách sản phẩm</h4>

                                <ul>

                                    <li>
                                        {% for entry in entries %}
                                        <ul>
                                            
                                            <li>
                                                <span>{{ entry.quantity }} x {{ entry.product_id.name }}</span>
                                                <span>{{ entry.total|intcomma}}</span>
                                            </li>
                                        </ul>
                                        {% endfor %}

                                    </li>

{#                                    <li>#}
{#                                        <span>Mã giảm giá</span>#}
{#                                        <span>SALE01</span>#}
{##}
{#                                    </li>#}
                                    <li>
                                        <span>Tổng tiền</span> 
                                        <span>{{ bill.total|intcomma }}</span>
                                    </li>
                                </ul>

                            </div>
                         {% if bill.status == 'proc' %}
                        <form action="{% url 'approveBill' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ bill.id }}">
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Xác nhận </button>
                        </form>
                        {% endif %}
                        </div>
                    </div>
                    <!--end-->
{#                    <table class="table table-bordered">#}
{#                        <thead>#}
{#                        <tr>#}
{#                            <th style="text-align: center;">Tên sản phẩm</th>#}
{#                            <th style="text-align: center;">Số lượng</th>#}
{#                            <th style="text-align: center;">Giảm giá</th>#}
{#                            <th style="text-align: center;">Thành tiền</th>#}
{#                        </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                        {% for entry in entries %}#}
{#                            <tr>#}
{#                            <td>{{ entry.product_id.name }}</td>#}
{#                            <td>{{ entry.quantity }}</td>#}
{#                            <td>0</td>#}
{#                            <td>{{ entry.total|intcomma }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                        </tbody>#}
{#                    </table>#}
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <a href="javascript:void(0)" class="btn btn-primary">Quay lại</a>
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
	{% load static %}
    <link rel="stylesheet" href="{% static 'admin/dist/css/bill_detail.css' %}">
    <script src="{% static 'admin/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/product.js' %}"></script>
{% endblock %}