{% extends 'admin/layout.html' %}
{% load humanize %}
{% block content %}
	<section class="content-header">
      <h1>
        Chi tiết hóa đơn
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Product</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ bill.id }}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">

        <table class="table table-bordered">
        <thead>
        <tr>
            <th style="text-align: center;">Tên sản phẩm</th>
            <th style="text-align: center;">Số lượng</th>
            <th style="text-align: center;">Giảm giá</th>
            <th style="text-align: center;">Thành tiền</th>
        </tr>
        </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                <td>{{ entry.product_id.name }}</td>
                <td>{{ entry.quantity }}</td>
                <td>0</td>
                <td>{{ entry.total|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                </div>
            </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block script %}
	{% load static %}
    <script src="{% static 'admin/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/product.js' %}"></script>
{% endblock %}