{% extends "bakery_store/layout.html" %}
{% block content %}
<div class="row">
		<!-- <div class="col-md-10 col-md-offset-1">
			<h3>Thông tin tài khoản</h3>
			<div class="row contact-info-wrap">
				<div class="col-md-3">
					<p><span><i class="icon-location"></i></span> 198 West 21th Street, <br>Việt Nam</p>
				</div>
				<div class="col-md-3">
					<p><span><i class="icon-phone3"></i></span> <a href="javascript:void(0)">+ 1235 2355 98</a></p>
				</div>
				<div class="col-md-3">
					<p><span><i class="icon-paperplane"></i></span> <a href="javascript:void(0)">info@yoursite.com</a></p>
				</div>
			</div>
		</div> -->
		<div class="col-md-10 col-md-offset-1">
			<div class="contact-wrap">
				<h3 class="text-center">Thông tin tài khoản</h3><br>
				<div class="row">
					<div class="col-md-6">
						<div class="row contact-info-wrap">
							<div class="row col-md-12">
								<p><span><i class="icon-user"></i></span>198 West 21th Street,Việt Nam</p>
							</div>
							<div class="row col-md-12">
								<p><span><i class="icon-text-color"></i></span>198 West 21th Street,Việt Nam</p>
							</div>
							<div class="row col-md-12">
								<p><span><i class="icon-location"></i></span> 198 West 21th Street,Việt Nam</p>
							</div>
							<div class="row col-md-12">
								<p><span><i class="icon-phone3"></i></span> <a href="javascript:void(0)">+ 1235 2355 98</a></p>
							</div>
							<div class="row col-md-12">
								<p><span><i class="icon-paperplane"></i></span> <a href="javascript:void(0)">info@yoursite.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row contact-info-wrap">
							<div class="row">
								<div class="col-md-1">
									<p><span><i class="icon-file-picture"></i></span></p>
								</div>
								{% load static %}
								<div class="col-md-8">
									<img src="{% static 'bakery_store/images/14.6.jpg' %}" alt="Ảnh đại diện" 
									class="img-fluid" width="300px;">
								</div>
							</div>
							
							<div class="row">
								
							</div>
						</div>
					</div>
				</div>
				
				<!-- <form action="#">
					<div class="row form-group">
						<div class="col-md-6 padding-bottom">
							<label for="fname">Tài khoản:</label>
							<input type="text" id="fname" class="form-control" placeholder="Your firstname">
						</div>
						<div class="col-md-6">
							<label for="lname">Last Name</label>
							<input type="text" id="lname" class="form-control" placeholder="Your lastname">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="email">Email</label>
							<input type="text" id="email" class="form-control" placeholder="Your email address">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="subject">Subject</label>
							<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<label for="message">Message</label>
							<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="submit" value="Send Message" class="btn btn-primary">
					</div>
				</form>		 -->
			</div>
		</div>
	</div>
{% endblock %}
